.gift
	.image
		if (giftType.batchStock)
			label.stock: span= giftType.batchStock
				|  kvar
		else
			label.outOfStock: span Slut
		if giftTypeLinkImage
			a(href='/gifts/'+giftType.sku+'/'): img(src='/gift-images/'+giftType.imageFileName)
		else
			img(src='/gift-images/'+giftType.imageFileName)
	if giftTypeShowDescription
		p= giftType.description
