extends layout

block meta

	// Per page Facebook sharing metadata.
	meta(property='og:type'        content='product')
	meta(property='og:url'         content='http://giftclick.se/gifts/'+giftType.sku+'/')
	meta(property='og:title'       content='Gratis present!')
	meta(property='og:description' content=giftType.description)
	meta(property='og:image'       content='http://giftclick.se/gifts/'+giftType.sku+'/640x480.jpg')

block content
	.gift-type-page

		.gift-area
			- giftTypeLinkImage = false;
			- giftTypeShowDescription = true;
			include giftType.include.jade

			button(class = 'want' + (!giftType.batchStock ? ' out-of-stock' : ''))
				span.want Vill ha!
				span.count-down &#xf017; 59:54

			//- button.want.count-down
			//- 	span.want Vill ha!
			//- 	span.count-down &#xf017; 59:54

			//- button.want.out-of-stock
			//- 	span.want Vill ha!

			div.fb-like(data-send='true', data-width='450' data-show-faces='true')
