extends layout

block vars
	//- - varToSetForLayout = null;

block content
	h1 Vinnare

	ul.days
		each day in days
			li
				h2= day.date
				ul.winners
					each winner in day.winners
						li
							img(src='http://giftclick.se/gift-images/'+winner.giftTypeImageFileName)
							p: b= winner.giftTypeSku
							p
								each line in winner.address.split("\n")
									= line
									br

block css
	style
		:less
			ul.winners > li {
				margin-bottom: 100px;

				img {
					width: 320px;
				}
			}

block js
	//- script.
		js here...
