extends layout

block vars
	- topLevel = true;

block content
	.overview

		p.instructions Gå in på en presentsida och klicka på Klicka på "Vill ha!". Fler klick ger större vinstchans i utlottningen. Titta in ofta, presenterna försvinner snabbt!

		.gifts
			- giftTypeLinkImage = true;
			- giftTypeShowDescription = false;
			each giftType in giftTypes
				include giftType.include.jade

block js
	script(src='/js/Header.js')
	script(src='/js/Facebook.js')
	script(src='/js/User.js')
	script(src='/js/App.js')
	script(src='/js/main.js')
