extends markdown

block content
	:markdown
		Integritetspolicy
		=================

		Lagrade uppgifter
		-----------------
		GiftClick.se samlar in så lite data om dig som möjligt. För att driva sajten behöver vi veta ditt namn och bostadsadress och registrera dina klick på "Vill ha"-knapparna. För att hantera användare knyter vi dina uppgifter till ditt Facebook-konto.

		Cookies
		-------
		En cookie är en datafil som lagras i webbläsaren. Våra samarbetspartners använder cookies för att spåra användartrafik mellan GiftClick.se och annonsörer, och för att inloggning etc. ska fungera.
